body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.container{
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
}

.container .logo{
    width: 100px;
    margin: 0 auto;
}

.container .logo img{
    width: 100%;
}

.container h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form-group{
    margin-bottom: 15px;
}

.form-group .input-container{
    margin-bottom: 15px;
}

.form-group .input-container label{
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group .input-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all .5s;
}

button:hover{
    background-color: #218838;
}

#expense{
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ddd;
    color: #333;
    font-size: 1em;
}

.harcama{
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.harcama img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.harcama img:hover{
    transform: scale(1.2);
}

.harcama h1{
    font-size: 1.2rem;
    margin: 0;
}

.harcama h3{
    font-size: 1rem;
    color: #666;
}